<ul class="nav">
  <li class="nav-item">
    <%= link_to "Edit", edit_admin_position_path(@position), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Chart", chart_admin_position_path(@position), class: "nav-link" %>
  </li>
</ul>

<div style="margin-bottom: 20px;"></div>

