<%= link_to "Back", admin_positions_path, class: "btn btn-light" %>
<%= link_to "Edit", edit_admin_position_path(@position), class: "btn btn-warning" %>

<% if @fx_signals.any? %>
  <div class="divider" />
  <h5>Forex Signals</h5>
  <div class="divider" />

  <%= render "admin/fx_signals/fx_signals" %>
<% end %>

<% if @orders.any? %>
  <div class="divider" />
  <h5>Orders</h5>
  <div class="divider" />

  <%= render "admin/orders/orders" %>
<% end %>
