<ul class="nav">
  <li class="nav-item">
    <%= link_to "Daily", daily_admin_reports_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Monthly", monthly_admin_reports_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Overview", overview_admin_reports_path, class: "nav-link" %>
  </li>
</ul>

<div style="margin-bottom: 20px;"></div>
