/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

tr.danger {
  background-color: #ffd7d7;
}

tr.gray {
  background-color: gray;
}

tr.success {
  background-color: #dff0d8;
}

@media screen and (min-width: 800px) {
  .mobile {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  div, a, button {
    .btn-wide {
      width: 100%;
    }
  }
}

.item {
  border: 1px solid gray;
  color: gray;
  margin-bottom: 10px;

  a.banner {
    color: black;
    display: block;
    background-color: #F8F8F8;
  }

}

.green {
  color: green;
}

.red {
  color: red;
}

.btn-wide {
  width: 150px;
  margin: 5px 0;
}
